/* Estilos personalizados para Gamepad Viewer */

.controller.custom {
    background: url(Body.png);
    height: 630px;
    width: 750px;
    margin-left: -375px;
    margin-top: -285px;
}

.custom .triggers {
    width: 520px;
    height: 121px;
    position: absolute;
    left: 126px;
    top: 239px;
    background: url(triggers.png);
}

.custom .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
    background: url(Bumpers.png);
}

.custom .buttons {
    position: absolute;
    width: 157px;
    height: 164px;
    top: 231px;
    left: 388px;
    background: url(buttons.png);
}

.custom .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
    background: url(dpad.png);
}

.custom .options {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
    background: url(options.png);
}

.custom .sticks {
    position: absolute;
    width: 137px;
    height: 139px;
    top: 239px;
    left: 224px;
    background: url(sticks.png);
}

.custom.half {
    margin-top: -315px;
}

.custom {
    background: no-repeat center;
}
